@import './../../../styles/typography';

.root {
  position: relative;
  border-top: 1px solid #000000;
}

.numbers {
  position: relative;

  @screen md {
    grid-column-start: 5;
    grid-column-end: span end;
  }
}

.number {

  @screen md {
    &:first-child,
    &:nth-child(2) {
      margin-top: 65px;
    }
  }

  @screen md {
    &:first-child,
    &:nth-child(2) {
      margin-top: 0;
    }
  }

  dt {
    @apply typo-number;
  }

  dd {
    @screen md {
      width: 65%;
    }
  }
}
