@import './../../../styles/typography';

.root {
  position: relative;
  border-top: 1px solid #000000;
}

.numbers {
  position: relative;

  @screen xl {
    grid-column-start: 5;
    grid-column-end: span end;
  }
}

.number {
  @media (max-width: 768px) {
    &:first-child {
      margin-top: 0;
    }
  }

  @screen md {
    &:first-child,
    &:nth-child(2) {
      margin-top: 65px;
    }
  }

  @screen xl {
    &:first-child,
    &:nth-child(2) {
      margin-top: 0;
    }
  }

  dt {
    @apply typo-number;
  }

  dd {
    @screen md {
      width: 65%;
    }
  }
}
