.root {
  position: relative;
  min-height: 100vh;

  .pin {
    position: sticky;
    top: 0;
  }

  .spacer {
    height: 200vh;
    width: 50%;
    background-color: black;
  }
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.list {
  position: relative;
  z-index: 2;
}

.line {
  opacity: 0;
  color: theme('colors.white');
  font-family: 'Modern Gothic';
  font-weight: 300;
  font-size: 2.6rem;
  line-height: 3rem;
  letter-spacing: -0.01em;

  @screen sm {
    font-size: 3.5rem;
    line-height: 4.55rem;
  }

  @screen lg {
    font-size: 5.2rem;
    line-height: 6.24rem;
  }

  &:first-of-type {
    opacity: 1;
  }
}
