@import '../../../styles/variables';
@import './../../../styles/typography';


@keyframes ANIMATE_IN {
  0% {
    opacity: 1;
    transform: scaleX(0);

  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}
@keyframes ANIMATE_OUT {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.hover-effect {
  @screen md {
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      opacity: 0;
      height: 1px;
      animation: ANIMATE_OUT 400ms ease forwards;
      background-color: theme('colors.black');
      transform-origin: left center;
    }

    &:hover {
      &::after {
        animation: ANIMATE_IN 0.35s ease-in-out forwards;
      }
    }
  }
}

.root {
  position: relative;

  .copy {
    a {
      @apply typo-captions-and-buttons;
    }
  }
}

.logo {
  display: block;
  width: auto;
  height: 3.3rem;
}

.contact {
  p {
    display: flex;
    flex-direction: column;
    &:not(:last-child) {
      &::after {
        content: '\A ';
        display: block;
        white-space: pre;
      }
    }
  }
  a {
    position: relative;
    display: inline-block;
    margin-right: auto;
    @extend .hover-effect;
  }
}

.list {
  &::before {
    content: '\A ';
    display: block;
    white-space: pre;
  }
}

.navItem {
  font-size: 1.6rem;
  line-height: 2.2rem;
  letter-spacing: -0.01em;
  padding-bottom: 0.3rem;
  transform-origin: bottom left;
  position: relative;

  @extend .hover-effect;
}
