.root {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.mediaContainer {
  @screen xl {
    margin-left: 8.7%;
    margin-right: 5.8%;
  }
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
