.root {
  position: relative;
  overflow: hidden;
  > span {
    max-height: 100%;
  }

  .caption {
    font-family: 'So:hne Mono';
    font-size: 1.3rem;
    line-height: 1.8rem;
    letter-spacing: 0.01em;
    margin-top: 1.1rem;
    @screen md {
      font-size: 1.4rem;
      line-height: 1.9rem;
    }

    a {
      text-decoration: underline;
    }
  }
}
