.root {
  position: relative;

  .name,
  .date {
    font-size: 1.4rem;
    leading: 1.39;
    letter-spacing: -0.01em;
    font-weight: 400;
    font-family: 'Modern Gothic';
  }

  .date {
   color: #949494;
  }
}
