.root {
  position: relative;
  max-width: 100vw;
  overflow: hidden;
}

.item {
  padding: 2.5rem 0 8.5rem 0;

  @screen sm {
    padding: 3.5rem 0 22.5rem 0;
  }

  @screen md {
    padding: 3.5rem 0 26.5rem 0;
  }

  &.isFlipped {
    header {
      @screen sm {
        order: 2;
        grid-column-start: 7;
      }
    }

    .mediaItem {
      @screen sm {
        order: 1;
        grid-column-start: 1;
      }
    }
  }

  li {
    background: url('/icons/icon-list.svg') no-repeat left top;
    padding: 0px 0 0 16px;
    background-position: left 10px;
  }
}
