.root {
  position: relative;
  &.lined {
    border-top: 1px solid #000;
    .item {
      @screen xl {
        padding: 4rem 0 23.5rem 0;
      }
    }
    .topHeadline {
      @screen xl {
        padding-bottom: 13.5rem;
      }
    }
  }
}

.item {
  padding: 8.5rem 0;

  @screen xl {
    padding: 13.5rem 0;
  }

  &.isFlipped {
    header {
      @screen xl {
        order: 2;
        grid-column-start: 7;
      }
    }

    .mediaItem {
      @screen xl {
        order: 1;
        grid-column-start: 1;
      }
    }
  }

  header {
    order: 1;

    @screen md {
      order: 2;
    }

    @screen xl {
      order: 1;
    }
  }

  li {
    background: url('/icons/icon-list.svg') no-repeat left top;
    padding: 0px 0 0 16px;
    background-position: left 10px;
  }

  .mediaItem {
    order: 2;

    @screen md {
      order: 1;
    }

    @screen xl {
      order: 2;
    }
  }
}
