.root {
  position: relative;
}

.mediaContainer {
  display: block;
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: percentage(450 / 354);
  
  @screen md {
    order: 3;
  }
  
  @screen md {
    padding-bottom: percentage(700 / 1360);
  }

  > div, > div > span, img {
    width: 100% !important;
    height: 100% !important;
    position: absolute !important;
    object-fit: cover;
  }
}

.corners {
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  z-index: 1;
  pointer-events: none;
  
  i {
    position: absolute;
    width: 3.8rem;
    height: 3.8rem;
    background-color: currentColor;
    transform: translate(-50%,-50%) rotate(45deg);
    pointer-events: none;
    user-select: none;

    &:nth-child(1) {
      top: 0;
      left: 0;
    }

    &:nth-child(2) {
      top: 0;
      left: 100%;
    }

    &:nth-child(3) {
      top: 100%;
      left: 0;
    }

    &:nth-child(4) {
      top: 100%;
      left: 100%;
    }
  }
}