@import './../../../styles/variables';

.root {
  position: relative;
  background-color: theme('colors.mediumSky');
}

.icon-container {

}

.logos {
  align-items: center;

  li {

  }
}

.iconContainer {
  display: block;
  position: relative;
  width: 100%;
  height: 31px;

  span {
    object-position: left center;
  }
}