@import './../../../styles/variables';

.root {
  position: relative;
  background-color: theme('colors.mediumSky');
  z-index: 11;
  animation: FADE_IN 250ms forwards;

  @keyframes FADE_IN {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .upperArea {
    @apply pt-130 md:pt-100 pb-40;
    height: calc(100vh - 4rem);
    max-height: 90rem;
    h1 {
      @screen md {
        max-width: 97.5rem;
      }
      @screen xl {
        font-size: 4.5rem;
        line-height: 5rem;
      }
    }
    video {
      width: 100%;
      height: auto;
      mix-blend-mode: multiply;
      flex: 1;
      background-color: rgba(0, 0, 0, 0);
      @screen md {
        min-height: 40vh;
      }
    }
  }
}

.logos {
  align-items: center;
}

.iconContainer {
  display: block;
  position: relative;
  flex-basis: 50%;

  @screen sm {
    flex-basis: initial;
    flex-shrink: 0;
    flex: 1;
  }

  span {
    img {
      width: auto;
      height: 2.5rem !important;
      @screen lg {
        height: 4.5rem !important;
      }
    }
  }
}

@screen md {
  .title {
    order: 2;
  }

  .video {
    order: 1;
  }

  .logos {
    order: 4;
  }

  .button {
    order: 3;
  }
}
