.root {
  position: relative;
  padding-bottom: 10rem;
  @screen lg {
    padding-bottom: 15rem;
  }

}

.navItem {
  opacity: 0.25;
  cursor: pointer;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);

  &.isActive {
    opacity: 1;
    transform: translate(15px, 0);
    transition: all 250ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.copyContainer {
  position: relative;

  @screen lg {
    max-width: 35rem;
  }
  .copyItem {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);

    font-weight: 400;

    &.isActive {
      opacity: 1;
      transition: all 250ms cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
}

.mediaContainer {
  position: relative;
  pointer-events: none;

  .mediaItem {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    opacity: 0;
    transition: 500ms ease;
    position: absolute;
    top: 0;
    right: 0;

    &.isActive {
      display: flex;
      opacity: 1;
    }
  }
}

.video {
  object-fit: cover;
  margin-left: auto;
  aspect-ratio: 265 / 185;
  @screen md {
    aspect-ratio: 575 / 400;
  }
  @screen lg {
    aspect-ratio: 500 / 350;
  }

}
.video,
.image {
  display: block;
  width: 80%;

}

.image {
  margin-top: -20%;
  @screen lg {
    position: absolute;
    top: 50%;
    right: 13rem;
    margin-top: 0;
  }
}
