.root {
  position: relative;
  padding-bottom: 10rem;
  @screen lg {
    padding-bottom: 15rem;
  }
}

.navItem {
  opacity: 0.25;
  cursor: pointer;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  font-family: 'Modern Gothic';
  font-size: 5rem;
  line-height: 5.75rem;
  letter-spacing: -0.01em;
  font-weight: 300;
  @screen md {
    font-size: 5.5rem;
    line-height: 6.3rem;
  }
  @screen xl {
    font-size: 7.5rem;
    line-height: 8.6rem;
  }

  &.isActive {
    opacity: 1;
    transform: translate(15px, 0);
    transition: all 250ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  &:hover {
    transform: translate(15px, 0);
    transition: all 250ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.copyContainer {
  position: relative;

  @screen lg {
    max-width: 35rem;
  }
  .copyItem {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 50ms cubic-bezier(0.19, 1, 0.22, 1);

    font-weight: 400;

    &.isActive {
      opacity: 1;
      transition: all 250ms cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
}

.mediaContainer {
  position: relative;
  pointer-events: none;

  .mediaItem {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    opacity: 0;
    transition: 500ms ease;
    position: absolute;
    top: 0;
    right: 0;

    &.isActive {
      display: flex;
      opacity: 1;
    }
  }
}

.video, .backgroundImage {
  object-fit: cover;
  margin-left: auto;
  aspect-ratio: 475 / 600;
}
.backgroundImage {
  span {
    aspect-ratio: 475 / 600;
  }
}
.video,
.image,
.backgroundImage {
  display: block;
  width: 80%;
}

.image {
  position: absolute;
  top: 7.5rem;
  right: 13rem;
  margin-top: 0;

  left: 0;
  @screen md {
    right: 12.5rem;
    left: initial;
  }
}
