.root {
  position: relative;
  svg {
    transition: 400ms ease;
  }
  &.simplify-carbon-accounting {
    svg {
      transform: translateX(1.5%) scale(1.27) !important;
      transform-origin: top !important;
      opacity: 0;
    }
  }
  &.fadeIn {
    svg {
      opacity: 1;
    }
  }
}
