.root {
  position: relative;

  video {
    width: 66.6%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 240 / 300;
    @screen md {
      aspect-ratio: 517 / 630;
    }
    @screen lg {
      aspect-ratio: 450 / 550;
    }
  }
  .absoluteImage {
    position: absolute;
    width: 83.3%;
    right: 0;
    bottom: 4rem;

    @screen md {
      bottom: 9rem;
    }

    @screen lg {
      right: initial;
      left: 10rem;
      bottom: 8rem;
    }
  }
}
