.root {
  position: relative;

  p {
    & + p {
      margin-top: 1.5em;
    }
  }

  .image {
    float: right;
    @apply ml-30 mb-15 float-right;
    max-width: 50%;
  }

  a {
    color: theme('colors.softSky');
    text-decoration: underline;
  }

  .subheader {
    margin-bottom: 2.4rem;
  }
}
