@import './../../../styles/typography';

.root {
  position: relative;
  display: inline-block;
  padding: 1.6rem 3rem;
  border-radius: 10rem;
  transition: 400ms ease;
  border: 1px solid theme('colors.black');
  @extend .typo-captions-and-buttons;
  line-height: 1 !important;

  @screen sm {
    padding: 1.3rem 3rem;
  }

  &.dark {
    background: theme('colors.black');
    color: theme('colors.white');

    &:not(.disableHover) {
      &:hover {
        background: transparent;
        color: theme('colors.black');
      }
    }
  }
  &.light {
    background: transparent;
    &:not(.disableHover) {
      &:hover {
        background: theme('colors.black');
        color: theme('colors.white');
        border: 1px solid theme('colors.black');
      }
    }
  }
}
