.root {
  position: relative;
  background-color: #b8b7a4;

  a {
    .mediaContainer {
      transition: 400ms ease;
    }
    &:hover {
      .mediaContainer {
        opacity: 0.5;
      }
    }
  }
}

@keyframes ANIMATE_IN {
  0% {
    opacity: 1;
    transform: scaleX(0);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}
@keyframes ANIMATE_OUT {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.navContainer {
  position: sticky;
  top: 0;
  z-index: 101;
  background-color: #b8b7a4;
  border-bottom: 1px solid #000;
  height: 8rem;
  display: flex;
  transition: all 300ms ease, border-color 300ms ease 200ms;

  button {
    position: relative;
    svg {
      width: 1.3rem;
      height: auto;
      transform: translateY(-1px);
    }
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      opacity: 0;
      height: 1px;
      animation: ANIMATE_OUT 400ms ease forwards;
      background-color: currentcolor;
      transform-origin: left center;
    }

    &.active {
      &::after {
        animation: ANIMATE_IN 0.35s ease-in-out forwards;
      }
    }
    &:hover {
      @screen sd {
        &::after {
          animation: ANIMATE_IN 0.35s ease-in-out forwards;
        }
      }
    }
  }
}

.nav {
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

 &:first-of-type {
  margin-left: 1.2rem;
 }
  padding-left: 3rem;

  @screen sd {
    padding-left: 0;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  li {
    display: block;
    white-space: nowrap;
  }
}
