@import './../../../styles/typography';

.root {
  position: relative;
}

.title {
  @screen xl {
    grid-column-start: 1;
    grid-column-end: span 3;
  }
}

.quote {
  position: relative;
  
  @screen xl {
    grid-column-start: 5;
    grid-column-end: span end;
  }

  &::before {
    content: "“";
    display: inline-block;
  }

  &::before {
    position: absolute;
    top: 0;
    right: 100%;
    @extend .typo-big-quotes;
  }

  // &::after {
  //   position: relative;
  //   @extend .typo-big-quotes;
  // }
}

.cite {
  display: block;
}