@import './../../../styles/typography';

.root {
  position: relative;

  .duplicateSlide {
    visibility: hidden;
  }
}

.cite {
  display: block;
}

.title {
  @screen xl {
    max-width: 23rem;
  }
}

.quoteContainer {
  position: relative;

  .quote {
    width: 100%;
  }
}

.quoteElement {
  position: relative;
  order: 2;
}

.quoteElementChild {
  position: relative;

  @screen md {
    transform: translateY(-1.2rem);
  }
  &::before {
    content: '“';
    display: inline-block;
  }

  &::before {
    position: absolute;
    top: 0;
    right: 100%;
    @extend .typo-big-quotes;
  }
}

.logo {
  order: 1;
  &.bottom {
    order: 2;
  }
  max-width: 15rem;
  @screen md {
    order: 2;
  }
}
