@import './../../../styles/typography';

.root {
  position: relative;
}

.cite {
  display: block;
}

.title {
  @screen xl {
    max-width: 23rem;
  }
}

.quoteContainer {
  position: relative;

  .quote {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 500ms cubic-bezier(0.19, 1, 0.22, 1);

    &.isActive {
      opacity: 1;
      transition: opacity 250ms cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
}

.quoteElement {
  position: relative;
  order: 2;
}

.quoteElementChild {
  position: relative;

  @screen md {
    transform: translateY(-1.2rem);
  }
  &::before {
    content: '“';
    display: inline-block;
  }

  &::before {
    position: absolute;
    top: 0;
    right: 100%;
    @extend .typo-big-quotes;
  }
}

.logo {
  order: 1;

  &.bottom {
    order: 2;
  }

  @screen md {
    order: 2;
  }
}
